@import './../../styles/variables.css';

.button {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    min-width: 50px;
    border-radius: 50%;
    /* background-color: bisque; */
    background-color: var(--main-color);
    border: none;
}

.button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.button__text {
    padding-left: 5px;
}

.button__icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button--l {
    scale: 1.25;
}

.button--m {
    scale: 1;
}

.button--s {
    scale: 0.75;
}

.button--second {
    background-color: var(--second-color);
}